.menu-list{
    display: flex;
    flex-direction: column;
    /* gap: 1rem; */
    padding-top: 1rem;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    width: 12rem;
    height: calc(100% - 1rem);
    overflow: hidden;
    box-shadow: var(--main-boxShadow);
}

.menu-items{
    display: flex;
    text-decoration: none;
    color:var(--btn-color);
    gap: 0.3rem;
    padding-inline: 0.4rem;
    padding-block: 0.8rem;
    align-items: center;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.menu-items:hover{
    background-color: var(--hover-color);
    padding-left: 0.6rem;
}

.active{
    background-color: var(--hover-color);
    padding-left: 0.6rem;
}

.menu-items>.icons{
    margin-left: 0.3rem;
}