
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.App{
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    height: calc(100dvh - 2rem);
    padding: 1rem;
}
